@import './common.scss';

.list-item:hover {
  background-color: $item-hover-background-color;
  cursor: pointer;
}
.list-item {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}
.list-item>a {
  text-decoration: none;
  color: black;
}


.router-link-active,
.router-link-exact-active {
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.bottom-space {
  margin-bottom: 1rem;
}

.top-space {
  margin-top: 1rem;
}

.sub-menu {
  display: flex;
  justify-content: end;
  margin-bottom: 1vh;
}

.sub-menu a {
  margin: 0.1rem 0.2rem;
}

.main-menu-icon {
  width: 2rem;
}