@import './common.scss';

.list-item:hover {
  background-color: $main-background-selection;
}

.list-item {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.router-link-active,
.router-link-exact-active {
  background-color: $main-background-selection;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.bottom-space {
  margin-bottom: 1rem;
}

.top-space {
  margin-top: 1rem;
}

.sub-menu {
  display: flex;
  justify-content: end;
  margin-bottom: 1vh;
}

.sub-menu a {
  margin-left: 1vw;
  margin: 0.1rem 0.2rem;
}