@import './common.scss';

.list-item:hover {
  background-color: $main-background-selection;
}

.router-link-active,
.router-link-exact-active {
  background-color: $main-background-selection;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.bottom-space {
  margin-bottom: 1rem;
}

.top-space {
  margin-top: 1rem;
}